header {
	background-color: #d9d9d9;
	margin-bottom: 30px;
	padding: 1.5em;
	width:111%;
	margin-top:-10px;
	margin-left:-11%;
}
body {
	text-align:center;
	padding:0px;
	margin-left:10%;
}

h1 {
	font-family: Helvetica, Verdana;
	font-size: 3em;
	text-align: center;
	color: white;
}
h2{
	background-color:#eee;
	width:110%;
	margin:-10px -10px 5px -10px;
	padding:5px;
	color:black;
	font-size-adjust:-20;
	letter-spacing: 10px;
	font-family:Helvetica, Verdana;
	font-variant: small-caps;
	
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	width: 40%;
	max-height: 700px;
	background-color: #003366;
	border-radius: 15px;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	margin:10px;
	overflow-y:auto;
	overflow-x:hidden;
	text-align:center;
	padding:10px;
}

.flex-item{
	background-color: #d9d9d9;
	width: 40%;
	min-width:110px;
	padding: 8px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom:0px;
	border-radius: 15px;
	font-family: Helvetica, Verdana;
	text-align: center;
	display: inline-block;
}

#inputitem {
	height:160px;
}
#outputitem {
	height:10px;
	padding:4px;
	padding-bottom:10px;
	
}
h3 {
	margin: 0;
	margin-top: -30px;
	margin-bottom: 5px;
	padding: 0;
	font-family: Helvetica, Verdana;
	color: #4d4d4d;
}

.wait {
	padding: 20px;
	margin: 0 auto;
}

input[type=text] {
	outline: none;
	border-radius: 5px;
	display: block;
	width: 60%;
	height: 30px;
	margin: 0 auto;
	font-size: 1.3em;
	font-family: Helevetica, Verdana;
}

.andSome {
	display: -webkit-flex;
	display: flex;
	float: right;
	margin: auto;
	height: 1000px;
	width: 55%;
	background-color: #003366;
	border-radius: 15px;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom:50px;
}

.canvas {
	background-color: white;
	width: 51%;
	height: 350px;
	border: 5px solid #800040;
	border-radius: 15px;
	margin: auto;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.canvas:hover {
	border: 5px solid white;
}

.submitVal {
	margin: 10px;
	border: 3px solid #800040;
	border-radius: 5px;
	background-color: #800040;
	font-family: Helevetica, Verdana;
	color: #ffffe6;
	font-size: 1.5em;
	height: 35px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.submitVal:hover {
	background-color: white;
	color: #800040;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 70%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: #800040;
	border-radius: 1px;
	border: 0px solid #800040;
}

input[type=range]::-webkit-slider-thumb {
	border: 3px solid #800040;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #900600;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #800040;
}

input[type=range]:hover::-webkit-slider-thumb {
	background: white;
}

input[type=range]:active::-webkit-slider-thumb {
	background: white;
}

/* LOADER CSS */
 
        #loader-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }
        
        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #3498db;
            -webkit-animation: spin 2s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 2s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
            z-index: 1200;
        }
        
        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #e74c3c;
            -webkit-animation: spin 3s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 3s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }
        
        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #f9c922;
            -webkit-animation: spin 1.5s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1.5s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }
        
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);
                /* IE 9 */
                transform: rotate(0deg);
                /* Firefox 16+, IE 10+, Opera */
            }
            100% {
                -webkit-transform: rotate(360deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);
                /* IE 9 */
                transform: rotate(360deg);
                /* Firefox 16+, IE 10+, Opera */
            }
        }
        
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);
                /* IE 9 */
                transform: rotate(0deg);
                /* Firefox 16+, IE 10+, Opera */
            }
            100% {
                -webkit-transform: rotate(360deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);
                /* IE 9 */
                transform: rotate(360deg);
                /* Firefox 16+, IE 10+, Opera */
            }
        }
        
        #loader-wrapper .loader-section {
            position: fixed;
            top: 0;
            width: 51%;
            height: 100%;
            background: #222;
            z-index: 800;
        }
        
        #loader-wrapper .loader-section.section-left {
            left: 0;
        }
        
        #loader-wrapper .loader-section.section-right {
            right: 0;
        }
        
        #header h1 {
            z-index: 9999;
        }
        /* Loaded */
        
        .loaded #loader-wrapper .loader-section.section-left {
            -webkit-transform: translateX(-100%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);
            /* IE 9 */
            transform: translateX(-100%);
            /* Firefox 16+, IE 10+, Opera */
        }
        
        .loaded #loader-wrapper .loader-section.section-right {
            -webkit-transform: translateX(100%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);
            /* IE 9 */
            transform: translateX(100%);
            /* Firefox 16+, IE 10+, Opera */
        }
        
        .loaded #loader {
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        
        .loaded #loader-wrapper .loader-section.section-right,
        .loaded #loader-wrapper .loader-section.section-left {
            -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
        }
        
        .loaded #loader-wrapper {
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            -webkit-transition: all 0.3s 0.6s ease-out;
            transition: all 0.3s 0.6s ease-out;
        }